.sidebar{
    position: fixed;
    left: 0;
    width: 72px;
    top: 55px;
    bottom:0px;
    background-color: white;
    z-index: 200;
    padding-top: 5px;
}
.sidebar-link{
    display: flex;
    height: 74px;
    margin-bottom: 1px;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}.sidebar-link:hover{
    background-color: rgb(234, 234, 234);
    border-radius: 5px;
}
.sidebar-link{
    font-size: 11px;
}
.sidebar-link img{
    height: 24px;
    margin-bottom:4px;   
}
.none{
    display: none;
}
.block{
    display: block !important;
}
.change-body{
    padding-left: 240px;
}
.sidebar-large{
    display: none;
    position: fixed;
    left: 0;
    width: 216px;
    height: 92vh;
    padding-top: 5px;
    top: 55px;
    bottom:0px;
    background-color: white;
    z-index: 999;
    padding-top: 5px;
    overflow: auto;
}
.sidebar-large::-webkit-scrollbar{
    width: 0px;
}
.sidebar-large::-webkit-scrollbar-thumb{
    background-color: transparent;
    border-radius: 1rem;
}
aside:hover .sidebar-large::-webkit-scrollbar{
    width: 0.5rem;
}
aside:hover .sidebar-large::-webkit-scrollbar-thumb{
    background-color: #888;
}
.sidebar-large .sidebar-link{
    display: flex;
    justify-content: left;
    height: 40px;
    margin-bottom: 4px;
    padding-left: 24px;
    flex-direction: row;
    cursor: pointer;
    text-align: center;
}
.sidebar-large .sidebar-link img{
    height: 24px;
    margin-bottom:4px;  
    margin-right: 24px; 
}
.sidebar-large .sidebar-link p{
    font-size:14px;
}
.subscriptions-avatar{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    
}


@media  (max-width:499px) {
    .sidebar{
        display: none;
      }
    
  } 
  /* @media (min-width: 1000px) {
    .sidebar-large{
        display: block;
    }
  }  */
